<html>
    <body><p>show urls</p>
        <form method="POST">
            <label for="ingreds">Zutaten, mit Leerzeichen getrennt:</label><br>
            <input type="text" id="lname" name="ingreds">
            <input type="submit" id="submit" name="submit">
        </form>
            <h1>{{urls|length}} Treffer für {{ingreds}}</h1>
        {% for url in urls %}
            <a href={{url[0]}}>
                <img src={{url[1]}} alt="{{url[1]}}" style="width:320px;height:180px"> 
            </a>
            <label>{{url[0].split("/")[5].split(".")[0]}}</label>
            <br>
        {% endfor %}
    <footer>
        <p> Version 0.1 </p>
        <p> Merse 2022</p>
        <p> Jonas Fenchel</p>
        </footer>
    </body>
</html>